.home {
  top: 25%;
  width: 100%;
  position: absolute;
  display: flex;
}

.aboutPage {
  font-size: 1.25rem;
  margin-inline: auto;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
}

.abouth1 {
  margin-top: 5%;
  margin-bottom: 0;
  color: #FFB800;
}

.abouth2 {
  margin-top: 5%;
  margin-bottom: 0;
  color: #FFB800;
  
}

.aboutSpan {
  font-size: 1rem;
  padding: 0px 1rem 0px 1rem;
  color: white;
}

.aboutPage a {
  font-size: 1rem;
  color: white;
}