.home {
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #5b7fa0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.homeInfo {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
}

.homeInfo h2 {
  font-size: 80px;
  color: #5b7fa0;
  height: auto;
  
}

.about {
  font-size: 35px;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.about h2 {
  font-size: 35px;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

.prompt svg {
  font-size: 60px;
  margin: 5px;
  color: white;
}

.experience {
  font-size: 35px;
  height: 75%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills {
  font-size: 35px;
  height: 100%;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.skills h1 {
  color: #5b7fa0;
}

.homeSpan {
  justify-content: center;
  align-items: center;
  color: black;
  padding-left: 5%;
  padding-right: 5%;
  list-style: none;
  font-size: 35px;
}
