.topnav {
  position: relative;
  width: 100%;
}

.links {
  float: right;
  transform: translateY(-135%);
  display: flex;
  color: white;
}



.title {
  display: flex;
  float: left;
  transform: translateY(5%);
  flex-direction: column;
  width: 90%;
}

.title dh1:nth-child():hover {
  color: black;
}

.titleSpan {
  transform: translateY(-150%);
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  list-style: none;
  font-size: 24px;
}

.dh1 {
  color: #FFB800;
}

.title .dh1 {
  padding-left: 10px;
}

.linkBtn:hover a{
  color:#FFB800;
  transition: color 3s ease-out;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.socialMedia {

  color: white;
  margin: 5px;
  cursor: pointer;
}

.socialMedia svg {
  margin: 5px;
}

@media screen and (max-width: 501px) {
  .links {
    transform: translateY(-60%);
    float: none;
    display: inline-flex;
  }

  .socialMedia {
    position: relative;
    transform: translateX(75%) translateY(-550%);
    color: white;
    margin: 5px;
    cursor: pointer;
  }
}
