.topnav {
  position: absolute;
  width: 100%;
  height: 5%;

  display: grid;
  grid-template-columns: 50% 50%;
}

.links {
  display: flex;
  justify-self: center;
  margin-top: 1%;
  grid-column-start: 2;
  grid-column-end: -1;
}

.link navlink {
  width: 50%;
}

.title {
  display: flex;
  float: left;
  flex-direction: column;
  width: 90%;
}

.titleSpan {
  transform: translateY(-75%);
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 1.5rem;
}

.dh1 {
  color: #FFB800;
}

.title .dh1 {
  padding-left: 0.6rem;
}

.linkBtn:hover a{
  color:#FFB800;
  transition: color 3s ease-out;
}

.topnav a {
  color: white;
  padding: 1em 1em;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.socialMedia {
  position: absolute;
  left: 0;
  color: white;
  margin: 5px;
  cursor: pointer;
}

.socialMedia svg {
  margin: 5px;
}
