.nhldata {

}


.nhlDiv thead tr {
    position: sticky;
    top: 0;
    z-index: 10;
}
  
.nhlDiv td {
    width: 25%;
    text-align: center;
    padding: 8px;
    font-size: 18px;
}

.nhlDiv tr, th {
    border: 1px solid black;
}

.nhlDiv th {
    border-radius: 10px;
    background-color: rgb(117, 201, 250);
}

.nhlDiv tbody {
    width: 100%;
}

.nhlTable {
    align-items: left;
    align-content: left;
    justify-content: left;
    justify-items: left;
    margin-left: 25%;
    margin-right: 25%;
    overflow: scroll;
    width: 75%;
    height: 500px;
}

.nhlTable::-webkit-scrollbar {
    display: none;   
}

.searchFilter {
    font-size: 18px;
}

.nhldiv {
    align-content: left;
    justify-content: left;

}

.nhlDiv input {
    margin-top: 5%;
}
