.projectList {
  transform: translateY(40%);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 16rem));
  gap: 2rem;
  justify-content: center;
}

.projectCard {
  overflow: hidden;
  box-shadow: 0 2px 20px black;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 200ms ease-in;
  color: #FFB800;
}

.projectCard:hover {
  transform: scale(1.02);
}

.projectCard img {
  height: 12rem;
  width: 100%;
  object-fit: cover;
}

.cardTitle { 
  padding: 1rem;
}

.cardDesc {
  padding: 0 1rem;
}

.cardBtn {
  cursor: pointer;
  color: #FFB800;
  background-color: inherit;
  padding: 1rem;
  font-weight: bold;
  font-size: 1rem;
  margin: 1rem;
  border: 2px solid #FFB800;
  border-radius: 10px;
  transition: background 200ms ease-in, color 200ms ease-in;
}

.cardBtn:hover {
  cursor: pointer;
  background-color: #FFB800;
  color: black;
}