.App {
  background: #252525;
  font-family: "Montserrat";
  height: 100%;
  width: 100%;
}

.App::-webkit-scrollbar {
  display: none;
}

.appBody {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background: #252525;
  overflow: hidden;
}

.wrapper {
  height: 100%;
  width: 100%;
  display:contents;
  overflow: auto;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.bodyWrapper {
  height: 100vh;
  width: 100vw;
  overflow: scroll;
  clear: both;
}

.bodyWrapper::-webkit-scrollbar {
  display: none;
}