.App {
  text-align: center;
  background: #c0c0c0;
  height: 100%;
  font-family: "Montserrat";
  overflow: auto;
}

body {
  padding: 0;
  margin: 0;
  background: #c0c0c0;
  overflow: auto;
}

.main {
  height: 75%;
  flex: 1;
}

h2 {
  margin-left: 25%;
  margin-right: 25%;
  color: #5b7fa0;
}

h1 {
  color: #5b7fa0;
}