.App {
  text-align: center;
  background: #c0c0c0;
  font-family: "Montserrat";
}

.appBody {
  padding: 0;
  margin: 0;
  background: #c0c0c0;
}

.main {
  height: 75%;
  flex: 1;
}

.wrapper {
  height: 100vh;
  width: 100vh;
  display:contents;
  overflow: auto;
}

.bodyWrapper {
  margin: auto;
  margin-bottom: 100px;
  clear: both;
}

h2 {
  margin-left: 25%;
  margin-right: 25%;
  color: #5b7fa0;
}

h1 {
  color: #5b7fa0;
}